
      <nav class="navbar nav-dark bg-dark justify-content-between mb-5 ">
        
        <div class="container mr-auto">
          <%= nav_helper 'nav-link', 'span' %>
          <%= login_helper 'nav-link' %>

          <div class="ml-auto">
          </div>
          
          </div>
        </nav>
  </div>