<h1>Pages#contact</h1>

<p><%= number_to_phone "5554444333" %></p>

<p><%= number_to_currency "1323250" %></p>

<p><%= number_to_percentage "80.4" %></p>


<p><%= number_with_delimiter "1723772" %></p>